.menu_horizontal {
    color: rgb(202, 202, 202);
    background-color: rgb(34, 34, 34);
    font-weight: bold;
    padding: 10px 0px;
    text-align: left;
}

.menu_horizontal span {
    width: 100px;
    height: 30px;
    padding: 10px 20px;
   
}

.menu_horizontal span:hover {
    color: #eb8f52;
    background-color: rgb(76, 69, 112);
}

h1 {
    text-align: center;
    font-size: 3em;
    padding: 50px;
}

#option {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.col-md-4 {
    float: left;
    text-align: center;
    
}

#yes {
    padding: 7px 20px;
    font-size: 1em;
    background-color:  #ff9904;
    color: rgb(255, 254, 254);
    border-radius: 8%;
}

#no {
    padding: 7px 20px;
    font-size: 1em;
    background-color: #0399ff;
    color: rgb(255, 254, 254);
    border-radius: 8%;
}