<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/home.css">
    <title>Đáp gọn</title>
</head>
<body>
    <nav class="menu_horizontal">
            <span>Quyết.đê!</span>
            <span>Hỏi nhanh</span>
            <span>Đáp gọn</span>
    </nav>

    <h1>Yêu hay không yêu nói một lời</h1>

    <div id="option">
        <div class="col-md-4"></div>
        <div class="col-md-4"><input id="yes" type="button" value=" &hearts; Yêu &hearts; "></div>
        <div class="col-md-4"><input id="no" type="button" value="Không Yêu"></div>
    </div>
</body>
</html>